<h1>Tutu!</h1>

<p><%= link_to 'Список станций', railway_stations_path %></p>
<p><%= link_to 'Список поездов', trains_path %></p>
<p><%= link_to 'Список маршрутов', routes_path %></p>
<p><%= link_to 'Список вагонов', vagons_path %></p>
<p><%= link_to 'Список билетов', tickets_path %></p>
