<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>

<p>
<strong>На маршруте:</strong>
<% if @train.route.present? %>
    <%= @train.route.title %>
<% else %>
    Маршрут не назначен
<% end %>
</p>

<p>
  <strong>Вагоны в поезде:</strong>
  <% if @train.vagons.present? %>
    <ul>

      <p> Плацкартных вагонов: <%= @train.vagons.economy.count %></p>
      <p> Купейных вагонов: <%= @train.vagons.coupe.count %></p>
      <% @train.vagons.each do |vagon| %>
          <li><%= link_to "Вагон №#{vagon.number}", vagon_path(vagon.id) %></li>
          <% end %>
    </ul>
<% else %>
    В поезде нет вагонов
<% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
