<%= form_for(@vagon.becomes(Vagon)) do |f| %>
    <%= render 'common/errors', resource: @vagon %>

    <div class="field">
      <%= f.label :type, "Тип вагона" %>
      <%= f.select(:type, options_for_select([['Плацкартный', EconomyVagon], ['Купейный', CoupeVagon], ['СВ', SvVagon], ['Сидячий', SedentaryVagon]])) %>

      <p>
        <%= f.label :top_seats, "Верхние места" %>
        <%= f.text_field :top_seats %>
      </p>
        <%= f.label :bottom_seats, "Нижние места" %>
        <%= f.text_field :bottom_seats %>
      <p>
        <%= f.label :side_bottom_seats, "Нижние боковые места" %>
        <%= f.text_field :side_bottom_seats %>
      </p>
      <p>
        <%= f.label :side_top_seats, "Верхние боковые места" %>
        <%= f.text_field :side_top_seats %>
      </p>
      <p>
        <%= f.label :sedentary_seats, "Сидячие места" %>
        <%= f.text_field :sedentary_seats %>
      </p>
    </div>

    <div class="field">
      <%= f.label :train, "Добавить к поезду:" %>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="actions">
      <%= f.submit "#{ @vagon.new_record? ? 'Создать' : 'Изменить' }" %>
    </div>
<% end %>