<p id="notice"><%= notice %></p>

<p>
  <strong>Тип вагона:</strong>
  <%= @vagon.type_name %>
</p>
<%= render "#{@vagon.type.underscore}" %>

<p>
  <strong>Поезд:</strong>
  <% if @vagon.train.present? %>
      <%= @vagon.train.number %>
  <% else %>
      Вагон не привязан к поезду
  <% end %>
</p>

<%= link_to 'Редактировать', edit_vagon_path(@vagon) %> |
<%= link_to 'Назад', vagons_path %>
