<!DOCTYPE html>
<html>
<head>
  <title>Tutu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<p><%= link_to 'Вернуться на главную', root_path %></p>
<p>(с) 2016 Малышев Виталий. Учебный проект в онлайн-школе Thinknetica</p>


